# =========================
# ENV / CONFIG SENSÍVEL
# =========================
.env

# =========================
# DEPENDÊNCIAS
# =========================
/vendor/

# =========================
# PASTAS GERADAS EM RUNTIME
# =========================
/writable/

# =========================
# SISTEMA / IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# ARQUIVOS DE BUILD / TEMP
# =========================
*.log
*.tmp
*.swp

# =========================
# TESTES (opcional)
# =========================
/phpunit.result.cache
build/
.phpunit.cache