body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.sidebar .logo {
    width: 100%;
    box-sizing: border-box;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.menu li {
    list-style-type: none;
    padding: 0px;
    transition: 0.3s;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px 40px;
}

.menu ul {
    padding: 0;
}

.menu li a:hover {
    background-color: #2a2a2a;
}

.menu .active {
    background-color: #231f20;
}

.layout {
    display: flex;
}

.content {
    flex: 1;
    padding: 0;
    background-color: #fff;
    margin-left: 220px;
    align-items: center;
}

.cabecalho {
    background-color: white;
    height: 10vh;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    align-content: center;
    padding: 10px
}

.modal-body {
    border-radius: 5px;
    background: white;
    margin-top: 10px;
}

.modal-body label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    color: black;
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.modal-body input,
.modal-body select,
.modal-body option {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 8px;
    height: 43px;

    border: 1px solid black;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.08);
    color: black;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.modal-body button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #267929;
    color: white;
    height: 45px;
    font-family: 'Poppins', sans-serif;
}

.camada {
    display: flex;
}

table {
    width: 95%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-left: 1.5rem;
    margin-top: 1rem;
}

thead {
    background: #267929;
    color: white;
}

th,
td,
tr {
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f2f2f2;
}

tbody tr:hover {
    background: #e9ecef;
}

.tres-pontos,
.icon-editar,
.icon-on-off {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.tres-pontos:hover,
.icon-editar:hover,
.icon-on-off:hover {
    opacity: 0.7;
    cursor: pointer;
}

.movimentacao-card {
    width: 70%;
    height: 5rem;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0.1, 0.1, 0.1, 0.3);
    margin-left: 9.0rem;
    margin-top: 1rem;
    display: flex;
}

.left-card-entrada {
    background: #267929;
    align-content: left;
    width: 4rem;
    height: 5rem;
    text-align: center;
    padding-top: 1.5rem;
    color: white;
    border-radius: 0.3rem;
}

.left-card-saida {
    background: #ff3a3a;
    align-content: left;
    width: 4rem;
    height: 5rem;
    text-align: center;
    padding-top: 1.5rem;
    color: white;
    border-radius: 0.3rem;
}

.center-card {
    color: black;
    text-align: left;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    width: 50rem;
    height: 5rem;
}

.right-card {
    padding-right: 1rem;
}

/*div {
    border: 0.1px solid red; /* Define borda sólida, 2px de espessura e vermelha 
}*/

.box {
    width: 350px;
    padding: 25px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}